# Paddy Summary

In [1]:
# Open the file and find the line that starts with "Overall Summary"
filename='Gramacy_Paddy_10Jan25_7687032'
file_path = f"../../../raw/{filename}.log"  # Replace with your actual file path

with open(file_path, "r") as file:
    lines = file.readlines()

# Find the starting line index for "Overall Summary"
start_index = next(i for i, line in enumerate(lines) if line.strip().startswith("Overall Summary"))

# Extract everything from "Overall Summary" onward
summary_data = lines[start_index:]

# Save the extracted data to a new file or process it
with open("Gramacy_Paddy_extracted_summary.txt", "w") as output_file:
    output_file.writelines(summary_data)

print("Extracted summary saved to 'Gramacy_Paddy_extracted_summary.txt'")

Extracted summary saved to 'Gramacy_Paddy_extracted_summary.txt'

In [2]:
import pandas as pd
import re

# Function to parse the extracted summary
def parse_paddy_extractedsummary(file_path):
    # Read the content of the file
    with open(file_path, 'r') as file:
        summary = file.read()
    
    # Define a regular expression to extract run details
    pattern = r"Run (\d+): Best MSE: ([\d.]+),\s+Elapsed time: ([\d.]+) seconds"
    matches = re.findall(pattern, summary)
    
    # Create a DataFrame from the extracted data
    df = pd.DataFrame(matches, columns=["Run", "MSE", "Time"])
    
    # Convert columns to appropriate data types
    df["Run"] = df["Run"].astype(int)
    df["MSE"] = df["MSE"].astype(float)
    df["Time"] = df["Time"].astype(float)
    
    return df

# Example usage in a Jupyter cell
file_path = "Gramacy_Paddy_extracted_summary.txt"  # Path to your text file

# Parse the file and create a DataFrame
df = parse_paddy_extractedsummary(file_path)
# to csv
df.to_csv(f"{filename}_SUMMARY.csv", index=False)
# Display the DataFrame
df

/scratch/gilbreth/iyer95/conda_envs/plot/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/scratch/gilbreth/iyer95/conda_envs/plot/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

    Run       MSE   Time
0     1  4.153838  10.75
1     2  2.613982  10.59
2     3  4.219753  10.00
3     4  4.237884  10.76
4     5  3.205962   9.57
..  ...       ...    ...
95   96  3.968530  11.05
96   97  3.091827  10.18
97   98  2.918014   9.92
98   99  3.790696  10.25
99  100  3.501449  10.39

[100 rows x 3 columns]

# final summary

In [3]:
# Calculate summary statistics for Min_MSE
mse_summary = {
    'Best MSE': [df['MSE'].min()],  # Since lower MSE is better
    'Worst MSE': [df['MSE'].max()],
    'Average MSE': [df['MSE'].mean()],
    'MSE StdDev': [df['MSE'].std()],
    # add time 
    'Average Time': [df['Time'].mean()],
    'Time StdDev': [df['Time'].std()]
}
mse_summary_df = pd.DataFrame(mse_summary)
mse_summary_df.to_csv(f'{filename}_FINAL_SUMMARY.csv', index=False)
mse_summary_df

   Best MSE  Worst MSE  Average MSE  MSE StdDev  Average Time  Time StdDev
0   1.96173   6.046857      3.44134    0.651177        10.328     0.484226